html{
    background-color: black;
}
*{
    
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: cursive;
}
#blahblah{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;

}
h1{
    color: white;
    text-align: center;
}
.interstellar-jpg{
    border:10px solid white;
    width: 100%;
}
p{
    margin: 0;
    text-align: center;
}
